a {
    text-decoration: none;
}
#dashboard-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 70px auto;
    grid-template-rows: 70px auto;
}

#topLeftFill {
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

#header {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 60px 60px max-content 40px;

    p {
        font-family: SanFrancisco-Bold;
        align-self: center;
        justify-self: start;
        font-size: 26px;
        margin-left: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    img {
        width: 25px;
        opacity: 0.3;
        justify-self: center;
        align-self: center;
    }

    .profile {
        border: 1px solid #888;
        border-radius: 50%;
        width: 32px;
        opacity: 1;
    }

    #header-profile {
        display: grid;
        grid-template-rows: 1fr 1fr;

        p {
            font-size: 14px;
            align-self: end;
            text-transform: none;
            letter-spacing: 0.4px;
            margin-bottom: 2px; 
            justify-self: end;
        }

        .balance {
            font-family: SanFrancisco-Medium;
            font-size: 12px;
            color: #888;
            align-self: start;
            text-transform: none;
            letter-spacing: 0.4px;
            margin-top: 2px;
            justify-self: end;
        }
    }
}

#sidebar {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px auto;
    align-content: start;
    justify-content: center;
    
    img {
        width: 26px;
        opacity: 0.4;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

#main {
    display: grid;
    width: 100%;
    height: 100%;

    #shadow {
        border-radius: 10px;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        background-color: #FFF;
        justify-self: center;
        align-self: center;
        box-shadow: 2px 2px 8px #AAA;
        display: grid;
        grid-template-rows: 60px 200px auto auto;

        #title {
            font-family: SanFrancisco-SemiBold;
            font-size:24px;
            margin-left: 50px;
            margin-top: 30px;
        }

        #where {
            display: grid;
            grid-template-rows: repeat(1, auto);

            p {
                font-family: SanFrancisco-Regular;
                font-size: 12px;
                color: #888;
                margin-left: 50px;
                letter-spacing: 0.2px;
                align-self: end;
                margin-bottom: 20px;
            }

            form {
                margin-left: 50px;
                font-family: SanFrancisco-SemiBold;
                font-size: 14px;
                letter-spacing: 0.4px;
                align-self: start;

                input {
                    margin-right: 20px;
                    margin-bottom: 18px;
                }
            }
        }

        #amount {
            display: grid;
            grid-template-rows: repeat(1, auto);
            align-self: start;

            p {
                font-family: SanFrancisco-Regular;
                font-size: 12px;
                color: #888;
                margin-left: 50px;
                letter-spacing: 0.2px;
                align-self: end;
                margin-bottom: 20px;
            }

            #amountSelector {
                margin-left: 50px;
                display: grid;
                grid-template-columns: 60px auto 60px;
                border-radius: 50px;
                background-color: #DDD;
                width: 300px;
                height: 40px;

                p {
                    padding: 0;
                    margin: 0;
                    align-self: center;
                    justify-self: center;
                    font-size: 14px;
                    color: #111;

                }

                #selector{
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    font-size: 14px;

                    &:hover {
                        color:#999;
                        cursor: pointer;
                    }
                }
                
            }
        }

        #button {
            display: grid;
            width: 200px;
            height: 40px;
            background: rgb(135,0,0);
            background: linear-gradient(38deg, rgba(135,0,0,1) 0%, rgba(255,0,0,1) 100%);
            margin-left: 50px;
            border-radius: 40px;
            color: #FFF;
            font-family: SanFrancisco-Regular;
            align-content: center;
            justify-content: center;
            font-size: 12px;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}