a {
    text-decoration: none;
}
#dashboard-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 70px auto;
    grid-template-rows: 70px auto;
}

#topLeftFill {
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

#header {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 60px 60px max-content 40px;

    p {
        font-family: SanFrancisco-Bold;
        align-self: center;
        justify-self: start;
        font-size: 26px;
        margin-left: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    img {
        width: 25px;
        opacity: 0.3;
        justify-self: center;
        align-self: center;
    }

    .profile {
        border: 1px solid #888;
        border-radius: 50%;
        width: 32px;
        opacity: 1;
    }

    #header-profile {
        display: grid;
        grid-template-rows: 1fr 1fr;

        p {
            font-size: 14px;
            align-self: end;
            text-transform: none;
            letter-spacing: 0.4px;
            margin-bottom: 2px; 
            justify-self: end;
        }

        .balance {
            font-family: SanFrancisco-Medium;
            font-size: 12px;
            color: #888;
            align-self: start;
            text-transform: none;
            letter-spacing: 0.4px;
            margin-top: 2px;
            justify-self: end;
        }
    }
}

#sidebar {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px auto;
    align-content: start;
    justify-content: center;
    
    img {
        width: 26px;
        opacity: 0.4;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

#main {
    display: grid;
    width: 100%;
    height: 100%;

    #shadow {
        border-radius: 10px;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        background-color: #FFF;
        justify-self: center;
        align-self: center;
        box-shadow: 2px 2px 8px #AAA;
        display: grid;
        grid-template-rows: 90px 60px auto auto;

        #title {
            font-family: SanFrancisco-SemiBold;
            font-size:24px;
            margin-left: 50px;
            margin-top: 30px;
            color: #111;
            text-transform: none;
        }

        p {
            font-family: SanFrancisco-Regular;
            color:#666;
            text-transform: uppercase;
            font-size: 12px;
        }

        #openclose {
            width: 200px;
            height: 26px;
            background-color: #DDD;
            margin-left: 50px;
            border-radius: 20px;
            align-self: start;
            display: grid;
            grid-template-columns: 1fr 1fr;

            #opencloseselector {
                width: 100px;
                background-color: #AAA;
                height: 20px;
                border-radius: 20px;
                align-self: center;
                margin-left: 3px;
                text-align: center;
                font-family: SanFrancisco-Regular;
                color:#FFF;
                text-transform: uppercase;
                font-size: 12px;
                display: grid;

                p {
                    align-self: center;
                    justify-self: center;
                    color:#FFF;
                }

            }

            p {
                align-self: center;
                justify-self: center;
            }

        
        }

        #strategies {
            display: grid;
            width: calc(100% - 100px);
            align-self: start;
            margin-left: 50px;
            text-transform: none;

            #strategyItem {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-bottom: 20px;
                border-bottom: 1px solid #CCC;
                text-transform: none;

                &:last-child{
                    border-bottom: none;
                }

                #itemDetail {
                    display: grid;
                    grid-template-rows: 40px auto;

                    #itemDetailTitle {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        p {
                            font-family: SanFrancisco-Bold;
                            font-size: 18px;
                            color: #111;
                            text-transform: none;
                        }

                        .pl {
                            color: rgb(4, 177, 62);
                        }
                    }

                    #itemDetailAmount {
                        display: grid;
                        grid-template-rows: 20px 20px 20px auto;

                        #itemDetailEntry {
                            width: 150px;
                            display: grid;
                            grid-template-columns: auto auto;
                            letter-spacing: 0.2px;
                            font-size: 10px;

                            .r {
                                text-align: right;
                                color: #111;
                            }

                            .l {
                                text-align: left;
                                color: #999;
                            }
                        }
                    }

                    #itemDetailDetail {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        #closeButton {
                            align-self: end;
                            display: grid;
                            width: 100px;
                            height: 22px;
                            border: 1px solid red;
                            border-radius: 20px;
                            align-content: center;
                            justify-content: center;
                            font-family: SanFrancisco-Regular;
                            font-size: 12px;
                            color: red;
                            text-transform: uppercase;

                            &:hover {
                                background-color: red;
                                color:#FFF;
                                cursor: pointer;
                            }
                        }
                    }
                }

                #itemTransactions {
                    display: grid;
                    grid-template-rows: 20px 20px 20px 20px auto;
                    width: 90%;

                    .transactionTitle {
                        font-size: 9px;
                        color: #BBB;
                        letter-spacing: 0.5px;
                    }

                    #transactionEntry {
                        display: grid;
                        grid-template-columns: auto 80px 10px;

                        .transactionMain {
                            font-family: SanFrancisco-Medium;
                            text-transform: none;
                            letter-spacing: 0.5px;
                            color: #111;
                        }

                        .transactionDetail {
                            text-transform: none;
                            letter-spacing: 0.4px;
                            font-size: 9px;
                            color: #888;
                        }
   
                    }

                    .seemore {
                        font-family: SanFrancisco-Regular;
                        text-transform: none;
                        letter-spacing: 0.5px;
                        font-size: 9px;
                        color: #999;
                        margin-top: 5px;
                    }
                }
            }
        }

       
    }

    #button {
        display: grid;
        width: 200px;
        height: 40px;
        background: rgb(135,0,0);
        background: linear-gradient(38deg, rgba(135,0,0,1) 0%, rgba(255,0,0,1) 100%);
        margin-left: 50px;
        border-radius: 40px;
        color: #FFF;
        font-family: SanFrancisco-Regular;
        align-content: center;
        justify-content: center;
        font-size: 12px;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}