#index-container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;

    form {

        display: grid;

        #formTitle {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
            font-family: "SanFrancisco-Medium";
            letter-spacing: 1px;
        }

        #formLabel {
            padding-bottom: 5px;
            font-family: "SanFrancisco-Regular";
            font-size: 12px;
            letter-spacing: 0.2px;
        }

        input {
            height: 30px;
            width: 250px;
            border: 1px solid #888;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #FFF;
            font-family: SanFrancisco-Medium;
            letter-spacing: 0.5px;

            &:focus {
                outline: none;
            }
        }

        #formSubmit {
            width: 270px;

            &:hover {
                background-color: #000;
                color: #FFF;
                border: 1px solid #000;
                cursor: pointer;
            }
        }

        #formUsername {
            margin-bottom: 20px;
        }

        #formPassword {
            margin-bottom: 40px;
        }

        #formMessage {
            text-align: center;
            font-family: SanFrancisco-Light;
            letter-spacing: 0.2px;
            font-size: 12px;
            margin-top: 20px;
            height: 12px;
        }
    }

    
}